*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
}


/* NavBar -- Inicio */

.navegacion{
    max-width: 1280px;
    margin: 0 auto;
}

.fondo{
    padding: 32px 0;
    background-color: #7A2E39;
}

nav {
    text-align: right;
    padding-right: 16px;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    color: #b5e5f8;
    width: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 16px;
    padding: 20px;
    color: #fff;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-transform:capitalize;
}

.menu .navbar ul li a:hover{
    color: #b5e5f8
}

/* NavBar -- Fin  */

.gradiente-eras {
    background: linear-gradient(#A5C9A5, #7A2E39, #F7B0CC, #242E47);
}


.titulo {
    height: 150px;
    background-color: #7A2E39;
    color: aliceblue;
    position: relative;
    margin-top: 0;
    padding: 20px 0;
    width: 100%;

}



h1 {
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}


main {
    /* padding: 20px; */
    margin-top: 0;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.era {
    /* border: solid; */
    height: 400px;
    width: 320px;
    margin: 32px;
    border-radius: 100%;
    text-align: center;
    align-content: center;
    box-shadow: 10px 0px 25px gray;
}

.eggs {
    text-decoration: none;
    color: black;
}

.debut {
    background-color: #a5c9a5;
    font-family: "Hurricane", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: hsl(120, 25%, 25%);
    background-image: url(imagenes/debut_album.png);
    background-size: cover;
    background-blend-mode: screen;
}

.fearless {
    background-color: #EFC180;
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: hsl(35, 78%, 25%);
    text-transform: uppercase;
    background-image: url(imagenes/Fearless_\(Taylor\'s_Version\)_\(2021_album_cover\)_by_Taylor_Swift.png);
    background-size: cover;
    background-blend-mode: screen;

}

.speaknow {
    background-color: #C7A8CB;
    font-family: "Mr De Haviland", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    background-image: url(imagenes/Taylor_Swift_-_Speak_Now_\(Taylor\'s_Version\).png);
    background-size: cover;
    background-blend-mode: screen;
}

.red {
    background-color: #7A2E39;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    background-image: url(imagenes/Taylor_Swift_-_Red_\(Taylor\'s_Version\).png);
    background-size: cover;
    background-blend-mode: screen;
}

.ts1989 {
    background-color: #b5e5f8;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    background-image: url(imagenes/Taylor_Swift_-_1989_\(Taylor\'s_Version\).png);
    background-size: cover;
    background-blend-mode: screen;
}

.reputation {
    background-color: #746f70;
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    background-image: url(imagenes/Taylor_Swift_-_Reputation.png);
    background-size: cover;
    background-blend-mode: screen;
}

.lover {
    background-color: #f7b0cc;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    background-image: url(imagenes/Taylor_Swift_-_Lover.png);
    background-size: cover;
    background-blend-mode: screen;
}

.folklore {
    background-color: #cdc9c1;
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 48px;
    background-image: url(imagenes/Taylor_Swift_-_Folklore.png);
    background-size: cover;
    background-blend-mode: screen;
}

.evermore {
    background-color: #c5ac90;
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 48px;
    background-image: url(imagenes/Taylor_Swift_-_Evermore.png);
    background-size: cover;
    background-blend-mode: screen;
}

.midnights {
    background-color: #242e47;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-transform: capitalize;
    font-size: 48px;
    background-image: url(imagenes/Midnights_-_Taylor_Swift.png);
    background-size: cover;
    background-blend-mode: screen;
}

.ttpd {
    background-color: beige;
    font-family: "Libre Caslon Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 24px;
    background-image: url(imagenes/Taylor_Swift_–_The_Tortured_Poets_Department_\(album_cover\).png);
    background-size: cover;
    background-blend-mode: darken;
}

.fearless-page {
    background-color: #EFC180;
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-fearless {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.album {
    height: 400px;
    width: 320px;
    margin: 16px;
    text-align: center;
    align-content: center;
    box-shadow: 10px 10px 25px #9c853a;
}

footer {
    height: 60px;
    background-color: #7A2E39;
    position: absolute;
    display: inline-flex;
    width: 100%;

}

footer div {
    padding: 16px;
    width: 100%;
}
